/**
 * Marks an item so only screenreaders, and keyboard-users can quickly navigate around a page. Most useful for "Skip to content" links.
 *
 * With thanks to [David Dickball](http://daviddickball.uk/2013/04/dont-do-skip-to-content-links-wrong/) and the [Wordpress team](https://wordpress.com/) for inspiration.
 *
 * @example
 * ```html
 * <!-- Displays as "World" initially, then "Hello World" when tabbed to 
 *
 *     Default view:
 *     +-------+
 *     | World |
 *     +-------+
 *
 *     A screen-reader would read:
 *     +-------+-------+
 *     | Hello | World |
 *     +-------+-------+
 *     ...also shows if you tab through the page with the keyboard.
 * 
 * -->
 * <a href="#" class="screenreader">Hello</a>
 * <a href="#">World</a>
 * ```
 */
.screenreader {
    position: absolute;
    left: 10000px; /* Assuming 8K is largest screen size */
}

.screenreader:focus {
    position: relative;
    left: auto;
}
