.menu {
	list-style: none;
	padding-left: 0;
}

.menu .menu-item {
	display: inline-block;
}

.menu-float {
	overflow: hidden;
}

.menu-float .menu-item {
	float: left
}

.menu-vertical .menu-item {
	display: block;
}
