/* Creates a simple nav-bar with title on the left, and links on the right (when tagged with the ".navbar-title" and ".navbar-nav" rules)
 * It doesn't do anything to sort out spacing or alignment of text */
.navbar {
	overflow: hidden
}

.navbar-title {
	float: left
}

.navbar-nav {
	float: right
}
